<div class="text-center">
    <img src="http://g-ec2.images-amazon.com/images/G/31/img14/anywhere/amazon-logo-500500._V327001990_.jpg" height="100px" weight="100px">
  </div>
<div class="panel panel-default col-xs-4 col-xs-offset-4">
  <div class="form-group">
   <h2>Create Account</h2>
  </div>
  <div class="form-group">
  <input type="text" class="form-control"> 
  </div>
  <div class="form-group">
   <small></small>
  </div>
  <div class="form-group">

  </div>
  <div class="form-group">

  </div>
</div>